.imagen{
    margin: 0 auto;
    width: 100%;
}
.titulos{
    font-size: 30px;
}
.boton{
    font-size: 15px;
    text-decoration: none;
}
.text{
    margin: 0 auto;
}

.imagen1{
    margin: 0 auto;
    width: 30%
}